#title{
  background-color: #ff4c68;
}
.body{
  font-family: "Montserrat";
}
h1,h2,h3,h4,h5,h6{
  font-family: "Montserrat";
  font-weight: bold;
}
h3{
    font-size: 1.5rem;
  }

h2{
  font-size: 3.5rem;
line-height: 1.5;
}
p{
  color:#8f8f8f;
}
/* heading */
.big-heading{
  font-family: 'Montserrat', sans-serif;
  font-weight:900;
  font-size: 3.5rem;
  line-height: 1.5;
  color: white;
  padding-top: 50px;
  padding-bottom: 20px;
}
.container-fluid{
  padding: 3% 15% 5%;
}
.navbar-brand{
  font-family: 'Ubuntu', sans-serif;
  font-weight: bold;
  font-size:2.5rem;
}
.nav-item{
  padding:0 18px
}
.nav-link{
  font-size: 1.2rem;
  font-family: "Montserrat-light";
}
.navbar{
padding:0 0 4.5rem;
}
.leo{
  transform: rotate(25deg);
  width:60%;
  position: absolute;
right:30%;
}
.download{
  margin: 5% 3% 3% 0;
}

.feature-s{
text-align:center;
padding: 4.5%;
}
.icon:hover{
  color:#ff4c68;

}
.icon{
margin-bottom: 1rem;
}
#features{
  padding: 7% 15%;
position: relative;

background-color: white;

}
/* Testimonial secction */
#testimonials{

  text-align: center;
  background-color: #ef8172;
  color: #fff;
}
.pebbles{
  width:10%;
  border-radius: 100%;
  margin: 20px;
}
#press{
  background-color:  #ef8172;
  text-align: center;
  padding-bottom: 3%;
}
.press-logo{
  width: 15%;
  margin: 20px 20px 50px;
}
.carousel-item{
  padding:7% 15%;
}
/* pricing section */
#pricing{
  padding:100px;
    text-align: center;
}
.pricing-column {
  padding: 3% 2%;

}

@media(max-width:1028px){
#title{
  text-align: center;
}
  .leo{
    position: static;
    transform: rotate(0);
  }
}

#cta{
  background-color: #ff4c68;
  color: #fff;
  text-align: center;
  padding: 7% 15%;
}
.cta-heading{
    font-size: 3.5rem;
  line-height: 1.5;
}
#footer{
  background-color: #fff;
  padding:5% 10%;
  text-align: center;
  line-height: 2;
}
.Copyright{
  text-align: center;
}
.social-icon{
  margin:20px 10px;
}
